
@font-face {
    font-family: HarmonyOS_Sans_SC_Medium;
    font-style: normal;
    font-display: swap;
    src: url("./HarmonyOS_Sans_SC_Medium.woff2") format("woff2"),
      url("./HarmonyOS_Sans_SC_Medium.woff") format("woff");
  }
  * {
    font-family: HarmonyOS_Sans_SC_Medium;
  }